@mixin flex($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin mobile {
    @media (max-width: 739px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 740px) and (max-width: 1023px){
        @content;
    }
}

@mixin mobile-tablet {
    @media (max-width: 1023px) {
        @content;
    }
}

