.products {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 2rem;

    @include mobile-tablet {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;
    }
    // @include tablet {
    //     grid-template-columns: 1fr;
    //     gap: 2rem 0;
    // }

    &__container {

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
            margin-top: 1rem;

            @include tablet {
                grid-template-columns: 1fr 1fr;
            }

            @include mobile {
                grid-template-columns: 1fr;
            }


            &.list {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(1fr);
                gap: 3rem 2rem;


            }
        }
    }
}