.cartItem {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr auto;
    gap: 0 2rem;
    place-items: center;

    @include mobile{
        grid-template-columns: 3fr 1fr auto;
        gap: 0 1rem;
    }

    &__info {
        display: grid;
        grid-template-columns: 100px 200px;
        gap: 0 1rem;

        align-items: center;
        @include mobile {
            grid-template-columns: 1fr 3fr;
            justify-items: start;

        }

        &__img {
            width: 100%;
            height: 70px;
            object-fit: cover;
            border-radius: $border-radius;
            @include mobile {
                width: 70px;
            }
        }    

        &__content {

            &__name {
                font-size: 1rem;
                text-transform: capitalize;
                color: $txt-color-primary;
                @include mobile {
                    font-size: .8rem;
                }
            }
            &__color {
                @include flex( center, flex-start);
                font-size: 1rem;
                color: $txt-color-second;
                @include mobile {
                    font-size: .8rem;
                }
                div {
                    margin-left: 1rem;
                    padding: .5rem;
                    @include mobile {
                        padding: .4rem;
                        border-radius: 50%;
                    }

                }
            }

            &__price {
                font-size: .8rem;
                color: $bg-btn-color;
                display: none;
                @include mobile {display: block};
            }

        }
    }

    &__price {
        color: $bg-btn-color;
        font-size: 1rem;
        @include mobile {display: none;}
    }

    &__quantity {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;

        &__control {
            @include flex(center, center);
            font-size: 1rem;
            padding: .5rem;
            color: $txt-color-primary;
            @include mobile {
                // padding: 0;
            }
            
        }
        
        &__amount {
            font-size: 1.5rem;
            color: $txt-color-primary;
            @include mobile {font-size: 1rem;}
        }

    }

    &__subtotal {
        font-size: 1rem;
        color: $txt-color-second;
        @include mobile {display: none;}
    }

    &__remove {
        font-size: 1rem;
        background-color: $red-color-dark;
        color: $white-color;
        padding: .3rem;
        border-radius: $border-radius;
    }
}