.cartBill {
    display: flex;
    justify-content: flex-end;

    @include mobile {
        justify-content: center;
    }
    margin-top: 2rem;
    &__container {
        &__content {
            padding: 1rem;
            border-radius: $border-radius;
            border: 1px solid $txt-color-second;

            h5, p, h2 {
                display: grid;
                grid-template-columns: 200px 1fr;
                font-size: 1rem;
                color: $txt-color-primary;
            }
            h5 {
                margin-bottom: .5rem;
            }

            h2 {
                
                font-size: 1.6rem;
            }

            &__ship--free {
                color: green;
            }
        }

        &__btn {
            text-align: center;
            margin-top: 1rem;
            width: 100%;
        }
    }
}