.productList {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 2rem;
    place-items: center;

    @include mobile-tablet {
        grid-template-columns: 1fr;
        place-items: start;
        gap: 1rem 0;
    }
    
    &__img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: $border-radius;
        @include mobile {
            width: 100%;
        }
    }

    &__content {

        &__name {
            font-size: 1.5rem;
            text-transform: capitalize;
            color: $txt-color-primary;
        }

        &__price {
            font-size: 1rem;
            color: $bg-btn-color;
        }

        &__description {
            font-size: 1rem;
            color: $txt-color-second;
            margin: .5rem 0;
        }

        &__btn {
            font-size: .5rem;
            padding: .4rem;
        }
    }

}