.service {
    text-align: center;
    background-color: $bg-btn-color-hover;
    padding: 3rem 2rem;
    border-radius: $border-radius;
    color: $brown-color-dark;
    transition: $transition;


    &__icon {
        margin: 0 auto;
        font-size: 2rem;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: $service-bg;
        box-shadow: $box-shadow;
        color: $brown-color-dark;
        transition: $transition;

        &.click {
            transform: rotate(360deg);
        }

    }

    &__title {
        margin: 1rem 0;
        font-size: 1.6rem;
        text-transform: capitalize;
    }

    &__text {
        font-size: 1rem;
        height: 0;
        opacity: 0;
        overflow: auto;
        transition: $transition;
        
        &.active {
            opacity: 1;
            height: 180px;
        }
    }
}